* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    cursor: grab;
}

.form-box {
    height: 580px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    margin-top: -150px;
}

.basic-button {
    top: 0;
    left: 0;
    font-weight: bold;
    width: 130px;
    height: 40px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    transition: .5s;
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.basic-button:hover {
    background: linear-gradient(to right, #ffad06, #ffad06);
    border: 2px solid #000;
}

.input-group {
    top: 180px;
    position: absolute;
    transition: .5s;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#container {
    left: 50px;
}

#lista-dipendenti {
    width: 215px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #ffad06;
}

div.icona-dipendente {
    border: 1px solid red;
    text-align: center;
    font-size: 22px;
    opacity: 1;
}

div.icona-dipendente:hover {
    opacity: 0.5;
}

#nome-progetto:hover {
    opacity: 0.5;
}

div.perc {
    font-size: 10px;
    background-color: #ffad06;
    padding: 2px 20px 2px 20px;
    font-weight: bold;
}

#tabella-allocazioni td {
    border: 1px solid #000;
}