* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    cursor: grab;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#dipendenti {
    float: left;
    width: 100%;
    padding-bottom: 40px;
    padding-left: 10px;
}

#allocazioni {
    float: left;
    width: 100%;
    padding-left: 10px;
}

#div-data {
    margin-top: 60px;
    margin-left: 42%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.date {
    border: none;
}

.button-add {
    border: none;
    background-color: #fff;
}

button.button-add:hover {
    color: orange;
}

.container-left {
    height: 1500px;
    position: relative;
    background: #fff;
    float: left;
    width: 49.75%;
}

.container-middle {
    height: 1500px;
    position: relative;
    background: rgb(77, 77, 77);
    float: left;
    width: 0.5%;
}

.container-right {
    height: 1500px;
    position: relative;
    background: #fff;
    float: left;
    width: 49.75%;
}

#lista-dipendenti {
    float: left;
    display: inline;
}

div.icona-dipendente {
    float: left;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
    padding: 2px 8px 2px 8px;
}

div.icona-dipendente:hover {
    opacity: 0.5;
}

#nome-progetto:hover {
    opacity: 0.5;
}

div.perc {
    border-radius: 6px;
    font-size: 12px;
    background-color: #fff;
    padding: 2px 4px 2px 4px;
    font-weight: bold;
}

.table-allocazioni {
    float: left;
}

.table-allocazioni td#nome-progetto {
    font-weight: bold;
    border: 1px solid #000;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    width: 100%;
    margin-top: 50px;
    position: relative;
    float: left;
    text-align: center;
    font-size: 12px;
    color: grey;
}

#modaleAggiungiDipendente {
    color: #000;
    font-weight: bold;
}

#modaleAggiungiProgetto {
    color: #000;
    font-weight: bold;
}

.modal-input {
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.modal-button {
    font-weight: bold;
    border: none;
    font-size: 20px;
    background-color: #fff;
    color: #949494;
}

.modal-button:hover {
    color: #000;
    cursor: pointer;
}

/* MODIFICA DIPENDENTI */
#modaleModificaDipendenti {
    margin-top: -50px;
}

table#tabella-modifica-dipendenti {
    text-align: center;
    margin-bottom: 50px;
}

table#tabella-modifica-dipendenti th {
    background-color: #000;
    color: #fff;
    padding: 5px;
}

table#tabella-modifica-dipendenti td {
    background-color: rgb(202, 202, 202);
    padding: 10px;
}

tr#modifica-dipendente:hover {
    opacity: 0.5;
}

.input-none {
    width: 100%;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.save-button {
    border: 1px solid #fff;
    padding: 5px;
    background: url("img/save.png");
    background-size: contain;
}

.save-button:hover {
    border: 1px solid #000;
    opacity: 0.5;
    cursor: pointer;
}